# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.baklogs/
